* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
}
.keyboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80vw;
}

.white-key {
    width: 10%;
    height: 20vh;
}

.black-key {
    color: white;
    background: black;
    width: 6%;
    height: 20vh;
}
